*.csv


__pycache__/
*.py[cod]
env/
venv/
.venv/
.ipynb_checkpoints/
data/
models/
mlruns/
logs/
outputs/
*.csv
*.pkl
*.joblib
*.h5
*.pt
.env
.vscode/
.idea/
.DS_Store
.pytest_cache/
build/
dist/
*.egg-info/
rawdata.csv